{% extends "base.html" %}
{% block dependencies %}
{{ super() }}

<!-- Dependencies for the piechart -->
<script src = "https://cdn.jsdelivr.net/npm/chart.js"> </script>

<!-- CSS for this page -->
<link rel = "stylesheet" style = "text/css" href = "{{ url_for('static', filename = 'css/features.css') }}">
{% endblock %}

{% block content %}
<div class = "grid-container">
    <br>
    <div class = 'text-center'>
        <br>
        <h1> Database Features </h1>
        <br>
        <p> Learn more about 3D GenomeConnectome and its novel utilities. </p>
        <br>
    </div>
    <hr>
    <h2> Composition of 3D GenomeConnectome </h2>
    <br>
    <div class = 'grid-x grid-margin-x'>
        <div class = 'cell medium-6'>
            <br>
            3D GenomeConnectome was constructed by surveying numerous journals (shown in the pie chart to the right) using GPT. 
            <br> <br>
            Unifying more than <strong>20,000</strong> 3D genome studies, 3D GenomeConnectome can be used to study genes, chromatin interactions, and other biological entities, illuminating over <strong>95,000</strong> relationships altogether. 
        </div>
        <div class = 'cell medium-6'>
            <canvas id = "piechart" width = '550' height = '200'> </canvas>
            <script> {{ piechart_code | safe }} </script>
        </div>
    </div>
    <br>
    <hr>
    <div class = 'text-center'>
        <h2> Searching 3D GenomeConnectome </h2>
        <p> 3D GenomeConnectome offers three search options: </p>
        <br>
    </div>
    <div class = 'grid-x grid-margin-x medium-up-3'>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Term Searches </strong>
                </div>
                <div class = 'card-section' style= "text-align: left;">
                    <p>
                        Search by keywords and gene IDs:
                        <ul style= "text-align: left;">
                            <li> ESR1 </li>
                            <li> Enhancer </li>
                            <li> ChIA-PET </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Author Search </strong>
                </div>
                <div class = 'card-section' style= "text-align: center;">
                    <p>
                        Finds and displays publications by author.
                    </p>
                </div>            
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Pubmed ID Search </strong>
                </div>
                <div class = 'card-section' style= "text-align: center;">
                    Displays publications of interest by Pubmed ID.
                </div>            
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class = 'text-center'>
        <h2> Search Results </h2>
        <p> All search queries with hits return six results: </p>
        <br>
    </div>
    <div class = 'grid-x grid-margin-x medium-up-3'>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Number of Papers  </strong>
                </div>
                <img src = "{{ url_for('static', filename = '/num_papers.png') }}" alt = "A sample entity-relationship graph">
                <div class = 'card-section' style= "text-align: left;">
                    <p>
                        The number of abstracts in the database containing the search query is 
                        shown for reference.
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Functional Annotations  </strong>
                </div>
                <img src = "{{ url_for('static', filename = '/functional_annotations.png') }}" alt = "A sample entity-relationship graph">
                <div class = 'card-section' style= "text-align: left;">
                    <p>
                        A collection of functions associated with the search query is displayed.
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Abbreviations  </strong>
                </div>
                <img src = "{{ url_for('static', filename = '/abbrevs.png') }}" alt = "A sample entity-relationship graph">
                <div class = 'card-section' style= "text-align: left;">
                    <p>
                        A collection of abbreviations associated with the search query is displayed.
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Entity Relationship Graph </strong>
                </div>
                <img src = '../static/capture.png' alt = "A sample entity-relationship graph">
                <div class = 'card-section' style= "text-align: left; overflow: scroll;">
                    <p>
                        This directed graph summarizes the various entities in the database sharing relationships with the search query. Each circle (i.e., node) and arrow (i.e., edge) on the graph represents an entity and a relationship shared between two entities, respectively.
                        <br> <br>
                        This graph is also interactive; the user can alter its appearance via several options.
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Text Summary </strong>
                </div>
                <img src = '../static/text_summary.png' alt = "Text-summary of search results">
                <div class = 'card-section' style= "text-align: left;">
                    <p>
                        A text summary of the entity-relationship graph is shown for reference, where each paragraph corresponds to a separate cluster of nodes.
                    </p>
                </div>            
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider' style="display: flex; justify-content: center;">
                    <strong> Entity Relationship Table </strong>
                </div>
                <img src = '../static/table_summary.png' alt = "A sample entity-relationship graph">
                <div class = 'card-section' style= "text-align: left;">
                    A table summary of the node-edge interactions in the Knowledge Network graph is also shown, which is fully sortable, downloadable as a TSV file, and has hyperlinked Pubmed IDs.
                </div>            
            </div>
        </div>
    </div>
</div>
{% endblock %}
